* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

:root {
  --cor-texto: rgb(252, 223, 175);
  --strock-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

body {
  margin: 100px;
  height: 100vh;
  background: var(--main-bg-color);
}

body * {
  font-family: sans-serif;
  color: var(--cor-texto);
}

#Container {
  width: 100%;
  max-height: 580px;
  padding: 0 24px;
  margin: 56px auto 0px;
}

