* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcdfaf;
  font-family: sans-serif;
}

/* Container da imagem */
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  /* Reduzido para telas menores */
}

/* A imagem em si */
.image img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

/* Título */
.text h1 {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Rodapé */
.rodape {
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.rodape p {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

/* Telas médias (tablets) */
@media (min-width: 600px) {
  .text h1 {
    font-size: 1.4rem;
  }

  .image {
    margin-top: 3rem;
  }

  .rodape p {
    font-size: 0.9rem;
  }
}

/* Telas grandes (notebooks/desktops) */
@media (min-width: 1000px) {
  .text h1 {
    font-size: 1.6rem;
    margin-bottom: 8rem;
  }

  .image {
    margin-top: 5rem;
  }

  .rodape p {
    font-size: 1rem;
  }
}