* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcdfaf;
  font-family: sans-serif;
}

/* Container da imagem */
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  /* Reduzido para telas menores */
}

/* A imagem em si */
.image img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

/* Título */
.text h1 {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Rodapé */
.rodape {
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.rodape p {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

/* Telas médias (tablets) */

@media (min-width: 600px) {

  .text,
  .imagem, .rodape {
    width: 100%;
  }

  .text h1 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .image {
    margin-top: 17rem;
    
  }

    .image img {
      width: 10rem;
      height: 10rem;
    }

  .rodape p {
    margin-bottom: 5rem;
    font-size: 1rem;
  }
}

/* Telas grandes (notebooks / desktops) */
@media (min-width: 1000px) {
  .text, .image, .rodape {
    width: 100%;
  }

  .image {
    margin-top: 40rem;
  }

  .text h1 {
    font-size: 1.2rem;
    bottom: 1rem;
  }
  
  .rodape p {
    font-size: 1rem;
    font-weight: 700;
  }
}

@media (min-width: 1100px) {

  .text,
  .image,
  .rodape {
    width: 100%;
  }

  .image {
    margin-top: 25rem;
  }
  
  .text h1 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .rodape p {
    font-size: 1rem;
    font-weight: 700;
  }
}