* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcdfaf;
  font-family: sans-serif;
  /* Sugestão: define uma fonte padrão */
}

/* Container da imagem */
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

/* A imagem em si */
.image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  /* Garante que a imagem mantenha proporção sem esticar */
}

/* Título */
.text h1 {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  /* Espaço entre a imagem e o texto */
}

.rodape {
  display: flex;
  margin-top: 6rem;
  align-items: center;
  justify-content: center;
}

.rodape p {
  font-weight: 700;
  font-size: 0.5rem;
}

/* Responsividade para telas maiores */
@media (min-width: 768px) {
  .text h1 {
    font-size: 1.6rem;
  }

  .image {
    margin-top: 15rem;
    align-items: center;
    justify-content: center;
  }

  .rodape p {
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    align-items: flex-end;
  }
}

/* @media (min-width: 1080px) {
  .text h1 {
    font-size: 1.6rem;
  }

  .image {
    margin-top: 17rem;
    align-items: center;
    justify-content: center;
  }

  .rodape p {
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    align-items: flex-end;
  }
} */