* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

section {
  padding: 6.5rem;
  background: #fcdfaf;
}

.not-page {
  width: 100%;
  height: 100vh;
}

.image {
  display: flex;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 10rem;
  height: 10rem;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text h1 {
  font-size: 0.9rem;
}

@media (min-width: 48rem) {
  .image {
    margin-top: 6.5rem;
    width: 100%;
  }

  .image img {
    width: 10rem;
    height: 10rem;
  }

  .text h1 {
    font-size: 1.6rem;
  }
}