* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

section {
  padding: 6.5rem;
  background: #fcdfaf;
}

.not-found {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

.image img {
  width: 12rem;
  height: 12rem;
}

.image h1 {
  display: flex;
  position: absolute;
  text-align: center;
  margin-right: 10rem;
  justify-content: center;
}

.text {
  display: flex;
  position: absolute;
  margin-left: 2rem;
  margin-top: 18rem;
  flex-direction: column;
}

.text span {
  margin-left: 2rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .text {
    margin-top: 19rem;
  }
}