* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcdfaf;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

/* Imagem centralizada */
.image img {
  width: 30vw;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

/* Texto */
.text h1 {
  font-size: 5vw;
  max-width: 90%;
  line-height: 1.4;
  margin-bottom: 3rem;
}

/* Rodapé */
.rodape p {
  font-weight: 700;
  font-size: 3vw;
  max-width: 90%;
}

/* Ajuste para telas maiores */
@media (min-width: 768px) {
  .text h1 {
    font-size: 2rem;
  }

  .rodape p {
    font-size: 1rem;
  }

  .image img {
    width: 10rem;
  }
}