:root {
  --main-color: #fcdfaf;
  --second-color: #000;
  --color-whatsap: #09ff00;
  --text-light-blue: #00b4d8;
  --text-color-white: #ffffff;
  --color-whatsapp-dark: #035700;
}

* {
  padding: 0;
  margin: auto;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  background: var(--main-color);
  padding: 2rem;
}

#Home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Section menu */

nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  transition: 0.5s;
  background: #fff;
  align-items: center;
  padding: 2.6rem 2.6rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.logo img{
  width: 6rem;
  height: 6rem;
  display: flex;
  margin-top: -2.8rem;
  position: absolute;
  justify-content: center;
}

ul {
  display: flex;
}

ul li a {
  margin: 0.01rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.8rem;
  padding: 0.5rem 1.376rem;
  color: var(--second-color);
}

ul li a:hover {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.menu {
  display: flex;
}

/* Section Home */

.Home-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-img img {
  width: 28rem;
  height: 28rem;
  display: flex;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 35rem;
  position: absolute;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  display: inline-flex;
  text-decoration: none;
  transition: background 0.3s;
  background: var(--color-whatsapp-dark);
}

.button:hover {
  background: var(--color-whatsapp-dark);
}

.button ion-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.2rem;
}


.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading h2 {
  font-size: 1.8rem;
  color: var(--second-color);
  margin-top: 1.2rem;
  border-bottom: 3px solid var(--second-color);
}

.heading p {
  color: var(--second-color);
  margin-top: 0.5rem;
}

/* About Section */


.container {
  gap: 1.5rem;
  display: flex;
  padding: 1rem;
  margin-top:0.1rem;
  background: #fff;
  border-radius: 2rem;
  flex-direction: column;
}

.maps iframe{
  border: none;
  border-radius: 2rem;
  margin-top: 3rem;
  width: 18.125rem;
  height: 18.125rem;
}

.about-clock {
  gap: 1.5rem;
  padding: 1.6rem;
  margin-top: 3.5rem;
  border-radius: 2rem;
  background: var(--second-color);
}

.about-clock h2{
  color: #fff;
  text-align: center;
}

.border {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  border-bottom: 0.25rem solid #fff;
}

.about-clock p {
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .container {
    margin-top: 3rem;
    flex-direction: row;
    align-items: flex-start;
  }

  .maps iframe {
    width: 28.175rem;
    height: 28.175rem;
  }

  .about-clock {
    width: 38rem;
    height: 28rem;
  }

  .about-clock h2 {
    margin-bottom: 1.4rem;
  }

  .borde {
    width: 20rem;
    margin-bottom: 3rem;
  }
  
  .about-clock p {
    margin-top: 2rem;
    font-size: 1.2rem;

  }
}