:root {
  --main-color: #ff006e;
  --second-color: #0d1b2a;
  --text-orange: #00b4d8;
  --color-whatsap: #09ff00;
  --color-whatsapp-dark: #035700;
}

* {
  padding: 0;
  margin: auto;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 2rem;
}

#Home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Section menu */

nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  transition: 0.5s;
  background: #fff;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

ul {
  display: flex;
}

ul li a {
  margin: 0.01rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.8rem;
  padding: 0.5rem 1.376rem;
  color: var(--second-color);
}

ul li a:hover {
  background: var(--main-color);
  color: #fff;
  border: none;
}

.menu {
  display: flex;
}

/* Section Home */

.Home-text {
  max-height: 31.25rem;
  text-align: center;
}

.Home-text h1 {
  color: var(--second-color);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 5.5rem;
  margin-bottom: 2.5rem;
  text-align: cente;
}

.Home-text span {
  color: var(--main-color);
}

.button {
  border: none;
  color: #fff;
  font-size: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  display: inline-flex;
  text-decoration: none;
  transition: background 0.3s;
  background: var(--color-whatsap);
}

.button:hover {
  background: var(--color-whatsapp-dark);
}

.button ion-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.2rem;
}

.social {
  left: 9rem;
  bottom: 8%;
  display: flex;
  position: absolute;
}

.social ion-icon {
  margin-right: 1.6rem;
  font-size: 1.6rem;
  color: var(--main-color);
}

.social ion-icon:hover {
  color: #0d1b2a;
  align-items: center;
  flex-direction: column;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading h2 {
  font-size: 1.8rem;
  color: var(--second-color);
  border-bottom: 3px solid var(--second-color);
}

.heading p {
  color: var(--second-color);
  margin-top: 0.5rem;
}

/* About Section */

.container {
  gap: 0.5rem;
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.maps iframe {
  width: 9.375rem;
  height: 9.375rem;
}

.about-text {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}

.about-text p {
  font-size: 1rem;
  text-align: center;
}

.sab span {
  color: var(--main-color);
}

.dom span {
  color: var(--main-color);
}

.Horarios {
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.Horarios p {
  font-size: 1rem;
  margin: 1rem;
  font-weight: 700;
  color: var(--second-color);
}

@media (min-width: 768px) {
  
  #Home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-text p{
    font-size: 1.3rem;
  }

  .maps iframe {
    width: 22.125rem;
    height: 22.125rem;
  }
}
